/vendor/
./config/config.ini
/dev-tool.rar
/config/config.ini
/config/redis.json
/logs/
/zhima/
/config/.db/
/tool/
/err.log
/out.log 
/build/*
/playwright.lock
/zhimaPub.zip
/build/
/playwright/*
/zhimaPub/*
/playwright_userdata/*
/playwright.RunLock
/release/zhimaPub/
/release/zhima/
/release/zhimaPub.zip
/playwright_userdata/
