*.ini
!config.ini
/logs/
/config/.db/
*.db
/.idea/*
/playwright.lock
build/
/upload
/test/*
web/dist/
web/node_modules/
.tmp-taskfile.yml
.worktrees/
.gitnexus
./AGENTS.md
CLAUDE.md
/.claude
AGENTS.md
web/test
/docs/
/.codex/docs/
tmp/dtool.exe
tmp/build-errors.log
*.exe
/tmp/
*_test.js
*_test.go
*_test.py
*.test.cjs
/dtool.exe
/skills/dtool-api.zip
/web/download/*
/test-results/.last-run.json
*.log
*verify.png
node
/skills/superpowers/
.superpowers
*.test.mjs
*_test_*.py
*tmp*.py
__pycache__/
/data/agent_sessions/
/.playwright-cli/page-2026-07-06T00-35-13-002Z.yml
/.playwright-cli/page-2026-07-06T00-35-26-514Z.yml
/.playwright-cli/page-2026-07-06T00-48-27-614Z.yml
/.playwright-cli/page-2026-07-06T00-48-49-808Z.yml
/.playwright-cli/page-2026-07-06T00-48-54-734Z.yml
/.playwright-cli/page-2026-07-06T00-49-15-520Z.yml
/.playwright-cli/page-2026-07-06T00-49-50-987Z.yml
/.playwright-cli/page-2026-07-06T00-52-06-374Z.yml
/.playwright-cli/page-2026-07-06T00-52-15-830Z.yml
/.playwright-cli/page-2026-07-06T02-00-27-569Z.yml
/.playwright-cli/page-2026-07-06T02-01-45-132Z.yml
/.playwright-cli/page-2026-07-06T03-21-45-817Z.yml
/.playwright-cli/page-2026-07-06T03-22-31-196Z.yml
/.playwright-cli/page-2026-07-06T03-22-53-941Z.yml
/.playwright-cli/page-2026-07-06T03-23-38-185Z.yml
/.playwright-cli/page-2026-07-06T03-24-23-932Z.yml
/.playwright-cli/page-2026-07-06T04-18-19-299Z.yml
